<a href="https://colab.research.google.com/github/XiaoLiang28/Xiao/blob/main/ps2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

I want to explore the correlations among poverty, housing prices and unemployment rate in different areas in America in 2020. 

Poverty in the United States 2020 by State: https://data.ers.usda.gov/reports.aspx?ID=17826

Median and Average Sales Price of Houses Sold by State 2020: https://en.wikipedia.org/wiki/List_of_U.S._states_by_median_home_price

Annual unemployment rate in the United States in 2020, by state: https://www.bls.gov/lau/lastrk20.htm

In [4]:
import urllib 
import pandas as pd

In [5]:
urllib.request.urlretrieve("https://docs.google.com/uc?id=1jsZwHEIVF_SF3qARFnEeShwp2VaAU6ls&export=download","ex1.xlsx")

('ex1.xlsx', <http.client.HTTPMessage at 0x7f4c1f4a42e0>)

In [6]:
"https://docs.google.com/uc?id=1jsZwHEIVF_SF3qARFnEeShwp2VaAU6ls&export=download","ex1.xlsx"

('https://docs.google.com/uc?id=1jsZwHEIVF_SF3qARFnEeShwp2VaAU6ls&export=download',
 'ex1.xlsx')

In [7]:
import os
os.getcwd() 
os.listdir()

['.config', 'ex1.xlsx', 'sample_data']

In [8]:
'/content/ex1.csv'

'/content/ex1.csv'

In [9]:
dat='ex1.csv'

In [10]:
import pandas as pd

In [11]:
ex1=pd.read_excel('https://docs.google.com/uc?id=1jsZwHEIVF_SF3qARFnEeShwp2VaAU6ls&export=download',header=1)

In [12]:
ex1.dtypes

State rank                   object
State or territory           object
Median home price in US$    float64
dtype: object

In [13]:
ex1.rename(columns={'State or territory': 'State Name','Median home price in US$': 'Price'},inplace=True)

In [14]:
ex1.head()

  State rank             State Name     Price
0        1.0                 Hawaii  636451.0
1          —   District of Columbia  626911.0
2        2.0             California  554886.0
3        3.0          Massachusetts  422856.0
4        4.0             Washington  409228.0

In [15]:
ex1

   State rank             State Name     Price
0         1.0                 Hawaii  636451.0
1           —   District of Columbia  626911.0
2         2.0             California  554886.0
3         3.0          Massachusetts  422856.0
4         4.0             Washington  409228.0
5         5.0               Colorado  397820.0
6         6.0                 Oregon  361970.0
7         7.0                   Utah  348376.0
8         8.0             New Jersey  335607.0
9         9.0               New York  321934.0
10       10.0               Maryland  308041.0
11       11.0                 Nevada  301753.0
12       12.0                 Alaska  300889.0
13       13.0           Rhode Island  300808.0
14       14.0          New Hampshire  290163.0
15       15.0                  Idaho  285982.0
16       16.0               Virginia  285229.0
17       17.0                Montana  277801.0
18       18.0                Arizona  268765.0
19       19.0              Minnesota  256857.0
20       20.0            Connecticut  255555.0
21       21.0                Vermont  254234.0
22       22.0               Delaware  254108.0
23       23.0                Wyoming  250890.0
24       24.0                Florida  245169.0
25       25.0                  Maine  242316.0
26       26.0           North Dakota  235012.0
27       27.0                  Texas  207301.0
28       28.0           South Dakota  205567.0
29       29.0             New Mexico  203675.0
30       30.0               Illinois  202675.0
31       31.0         North Carolina  202215.0
32       32.0              Wisconsin  202029.0
33       33.0                Georgia  201294.0
34       34.0           Pennsylvania  194603.0
35       35.0              Tennessee  185922.0
36       36.0         South Carolina  185749.0
37       37.0               Nebraska  175884.0
38       38.0               Michigan  173277.0
39       39.0              Louisiana  166565.0
40       40.0               Missouri  162464.0
41       41.0                Indiana  155640.0
42       42.0                   Iowa  152885.0
43       43.0                 Kansas  150657.0
44       44.0                   Ohio  150374.0
45       45.0               Kentucky  146871.0
46       46.0                Alabama  138975.0
47       47.0               Oklahoma  128934.0
48       48.0               Arkansas  128101.0
49       49.0            Mississippi  126502.0
50       50.0          West Virginia  108236.0

In [16]:
import urllib

In [17]:
!wget -q -O a.xlsx https://docs.google.com/uc?id=161R6SzK9crGWUHelbjBODDlLHeycF0l4&export=download

In [18]:
urllib.request.urlretrieve("https://docs.google.com/uc?id=1AK6NmVWbA3orL6VdIdalXYLqs59PldVE&export=download","ex1.xlsx")

('ex1.xlsx', <http.client.HTTPMessage at 0x7f4c1e4560d0>)

In [19]:
"https://docs.google.com/uc?id=1AK6NmVWbA3orL6VdIdalXYLqs59PldVE&export=download","ex1.xlsx"

('https://docs.google.com/uc?id=1AK6NmVWbA3orL6VdIdalXYLqs59PldVE&export=download',
 'ex1.xlsx')

In [20]:
import os
os.getcwd() 
os.listdir()

['.config', 'ex1.xlsx', 'a.xlsx', 'sample_data']

In [21]:
'/content/ex1.csv'

'/content/ex1.csv'

In [22]:
dat='ex1.csv'

In [23]:
import pandas as pd

In [24]:
ex2=pd.read_excel("https://docs.google.com/uc?id=1AK6NmVWbA3orL6VdIdalXYLqs59PldVE&export=download")

In [25]:
ex2.rename(columns={'Unnamed: 0': 'State Name','Unnamed: 2': 'Rate'},inplace=True)

In [26]:
ex2

,State Name,Unnamed: 1,Rate,Unnamed: 3,Unnamed: 4,Unnamed: 5,Children ages 0-17 in poverty (2020),Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,All people in poverty (2020),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN
2,Name,Unsorted,Percent,Unsorted,Lower Bound,Unsorted,Upper Bound,Unsorted,Percent,Unsorted,Lower Bound,Unsorted,Upper Bound,Unsorted
3,Alabama,NaN,14.9,NaN,14.5,NaN,15.3,NaN,20.9,NaN,20,NaN,21.8,NaN
4,Alaska,NaN,9.6,NaN,9.1,NaN,10.1,NaN,12.3,NaN,11.3,NaN,13.3,NaN
5,Arizona,NaN,12.8,NaN,12.4,NaN,13.2,NaN,17.6,NaN,16.7,NaN,18.5,NaN
6,Arkansas,NaN,15.2,NaN,14.7,NaN,15.7,NaN,20.8,NaN,19.8,NaN,21.8,NaN
7,California,NaN,11.5,NaN,11.3,NaN,11.7,NaN,14.6,NaN,14.2,NaN,15,NaN
8,Colorado,NaN,9,NaN,8.7,NaN,9.3,NaN,10.6,NaN,9.9,NaN,11.3,NaN
9,Connecticut,NaN,9.7,NaN,9.3,NaN,10.1,NaN,11.8,NaN,10.9,NaN,12.7,NaN
10,Delaware,NaN,10.9,NaN,10.3,NaN,11.5,NaN,15.1,NaN,14,NaN,16.2,NaN
11,District of Columbia,NaN,15,NaN,14,NaN,16,NaN,22.3,NaN,19.4,NaN,25.2,NaN
12,Florida,NaN,12.4,NaN,12.1,NaN,12.7,NaN,17.2,NaN,16.6,NaN,17.8,NaN
13,Georgia,NaN,14,NaN,13.6,NaN,14.4,NaN,19.5,NaN,18.8,NaN,20.2,NaN
14,Hawaii,NaN,8.9,NaN,8.4,NaN,9.4,NaN,10.4,NaN,9.4,NaN,11.4,NaN
15,Idaho,NaN,10.1,NaN,9.6,NaN,10.6,NaN,11.6,NaN,10.7,NaN,12.5,NaN
16,Illinois,NaN,11,NaN,10.8,NaN,11.2,NaN,13.9,NaN,13.4,NaN,14.4,NaN
17,Indiana,NaN,11.6,NaN,11.3,NaN,11.9,NaN,14.9,NaN,14.2,NaN,15.6,NaN
18,Iowa,NaN,10.2,NaN,9.8,NaN,10.6,NaN,12,NaN,11.2,NaN,12.8,NaN
19,Kansas,NaN,10.6,NaN,10.2,NaN,11,NaN,13,NaN,12.1,NaN,13.9,NaN
20,Kentucky,NaN,14.9,NaN,14.5,NaN,15.3,NaN,19.4,NaN,18.6,NaN,20.2,NaN
21,Louisiana,NaN,17.8,NaN,17.3,NaN,18.3,NaN,24.3,NaN,23.4,NaN,25.2,NaN
22,Maine,NaN,10.6,NaN,10.1,NaN,11.1,NaN,12.8,NaN,11.8,NaN,13.8,NaN
23,Maryland,NaN,9,NaN,8.7,NaN,9.3,NaN,11.2,NaN,10.4,NaN,12,NaN
24,Massachusetts,NaN,9.4,NaN,9.1,NaN,9.7,NaN,10.9,NaN,10.2,NaN,11.6,NaN
25,Michigan,NaN,12.6,NaN,12.3,NaN,12.9,NaN,16.8,NaN,16.2,NaN,17.4,NaN
26,Minnesota,NaN,8.3,NaN,8,NaN,8.6,NaN,9.5,NaN,8.8,NaN,10.2,NaN
27,Mississippi,NaN,18.7,NaN,18.2,NaN,19.2,NaN,26,NaN,24.9,NaN,27.1,NaN
28,Missouri,NaN,12.1,NaN,11.8,NaN,12.4,NaN,15.5,NaN,14.8,NaN,16.2,NaN
29,Montana,NaN,12.4,NaN,11.9,NaN,12.9,NaN,14.6,NaN,13.6,NaN,15.6,NaN
30,National,NaN,11.9,NaN,11.9,NaN,11.9,NaN,15.7,NaN,15.7,NaN,15.7,NaN
31,Nebraska,NaN,9.2,NaN,8.8,NaN,9.6,NaN,10.1,NaN,9.3,NaN,10.9,NaN
32,Nevada,NaN,12.5,NaN,12,NaN,13,NaN,16.7,NaN,15.8,NaN,17.6,NaN
33,New Hampshire,NaN,7,NaN,6.5,NaN,7.5,NaN,8.4,NaN,7.4,NaN,9.4,NaN
34,New Jersey,NaN,9.4,NaN,9.1,NaN,9.7,NaN,12.6,NaN,11.9,NaN,13.3,NaN
35,New Mexico,NaN,16.8,NaN,16.2,NaN,17.4,NaN,21.6,NaN,20.4,NaN,22.8,NaN
36,New York,NaN,12.7,NaN,12.5,NaN,12.9,NaN,16.7,NaN,16.1,NaN,17.3,NaN
37,North Carolina,NaN,12.9,NaN,12.6,NaN,13.2,NaN,17.9,NaN,17.1,NaN,18.7,NaN
38,North Dakota,NaN,10.2,NaN,9.5,NaN,10.9,NaN,10.9,NaN,9.9,NaN,11.9,NaN
39,Ohio,NaN,12.6,NaN,12.3,NaN,12.9,NaN,16.6,NaN,15.9,NaN,17.3,NaN
40,Oklahoma,NaN,14.3,NaN,13.9,NaN,14.7,NaN,18.6,NaN,17.8,NaN,19.4,NaN
41,Oregon,NaN,11,NaN,10.6,NaN,11.4,NaN,12.2,NaN,11.4,NaN,13,NaN
42,Pennsylvania,NaN,10.9,NaN,10.7,NaN,11.1,NaN,14.3,NaN,13.7,NaN,14.9,NaN
43,Rhode Island,NaN,10.6,NaN,10,NaN,11.2,NaN,14.5,NaN,13.4,NaN,15.6,NaN
44,South Carolina,NaN,13.8,NaN,13.4,NaN,14.2,NaN,18.7,NaN,17.9,NaN,19.5,NaN
45,South Dakota,NaN,11.6,NaN,11.1,NaN,12.1,NaN,13.9,NaN,13,NaN,14.8,NaN
46,Tennessee,NaN,13.6,NaN,13.2,NaN,14,NaN,18.4,NaN,17.6,NaN,19.2,NaN
47,Texas,NaN,13.4,NaN,13.2,NaN,13.6,NaN,18.8,NaN,18.2,NaN,19.4,NaN
48,Utah,NaN,7.3,NaN,6.9,NaN,7.7,NaN,7.5,NaN,6.8,NaN,8.2,NaN
49,Vermont,NaN,9.4,NaN,8.8,NaN,10,NaN,10,NaN,9,NaN,11,NaN
50,Virginia,NaN,9.2,NaN,8.9,NaN,9.5,NaN,12.2,NaN,11.6,NaN,12.8,NaN
51,Washington,NaN,9.5,NaN,9.2,NaN,9.8,NaN,11,NaN,10.3,NaN,11.7,NaN
52,West Virginia,NaN,15.8,NaN,15.3,NaN,16.3,NaN,20.3,NaN,19.2,NaN,21.4,NaN
53,Wisconsin,NaN,10,NaN,9.7,NaN,10.3,NaN,12.4,NaN,11.7,NaN,13.1,NaN
54,Wyoming,NaN,9.2,NaN,8.6,NaN,9.8,NaN,10.3,NaN,9.2,NaN,11.4,NaN

In [27]:
ex2.head()

,State Name,Unnamed: 1,Rate,Unnamed: 3,Unnamed: 4,Unnamed: 5,Children ages 0-17 in poverty (2020),Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,All people in poverty (2020),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN
2,Name,Unsorted,Percent,Unsorted,Lower Bound,Unsorted,Upper Bound,Unsorted,Percent,Unsorted,Lower Bound,Unsorted,Upper Bound,Unsorted
3,Alabama,NaN,14.9,NaN,14.5,NaN,15.3,NaN,20.9,NaN,20,NaN,21.8,NaN
4,Alaska,NaN,9.6,NaN,9.1,NaN,10.1,NaN,12.3,NaN,11.3,NaN,13.3,NaN

In [28]:
dat='ex1.csv'

In [29]:
import urllib

In [30]:
!wget -q -O a.xlsx https://docs.google.com/uc?id=161R6SzK9crGWUHelbjBODDlLHeycF0l4&export=download

In [31]:
a=pd.read_excel("https://docs.google.com/uc?id=161R6SzK9crGWUHelbjBODDlLHeycF0l4&export=download")

In [32]:
a.rename(columns={'Unemployment Rates for States, 2020 Annual Averages': 'State Name','Unnamed: 1': 'Rate','Unnamed: 2': 'Rank'},inplace=True)

In [33]:
a

                                           State Name  Rate  Rank
0                                               State  2020  Rank
1                                                 NaN  rate   NaN
2                                       United States   8.1   NaN
3                                                 NaN   NaN   NaN
4                                            Nebraska   4.1     1
5                                        South Dakota   4.3     2
6                                                Utah   4.7     3
7                                               Maine     5     4
8                                                Iowa   5.1     5
9                                        North Dakota   5.1     5
10                                              Idaho   5.5     7
11                                            Vermont   5.6     8
12                                             Kansas   5.7     9
13                                            Montana   5.8    10
14                                            Wyoming   5.8    10
15                                     South Carolina     6    12
16                                           Arkansas   6.1    13
17                                           Missouri   6.1    13
18                                           Oklahoma   6.2    15
19                                           Virginia   6.2    15
20                                          Minnesota   6.3    17
21                                          Wisconsin   6.3    17
22                                           Kentucky   6.4    19
23                                            Alabama   6.5    20
24                                            Georgia   6.5    20
25                                           Maryland   6.7    22
26                                      New Hampshire   6.7    22
27                                           Colorado   6.9    24
28                                     North Carolina   7.1    25
29                                            Indiana   7.2    26
30                                          Tennessee   7.4    27
31                                           Delaware   7.6    28
32                                             Oregon   7.6    28
33                                            Arizona   7.7    30
34                                              Texas   7.7    30
35                                        Connecticut   7.8    32
36                                        Mississippi   7.9    33
37                               District of Columbia     8    34
38                                         New Mexico   8.1    35
39                                             Alaska   8.2    36
40                                            Florida   8.2    36
41                                               Ohio   8.2    36
42                                      West Virginia   8.2    36
43                                         Washington   8.5    40
44                                          Louisiana   8.7    41
45                                       Pennsylvania   9.1    42
46                                           Illinois   9.2    43
47                                       Rhode Island   9.2    43
48                                      Massachusetts   9.4    45
49                                         New Jersey   9.5    46
50                                           New York   9.9    47
51                                           Michigan    10    48
52                                         California  10.2    49
53                                             Hawaii    12    50
54                                             Nevada  13.5    51
55  Note: Rates shown are a percentage of the labo...   NaN   NaN

In [34]:
mergedOuter = pd.merge(ex1, ex2, how='outer', on=['State Name'],indicator=True)
mergedOuter

,State rank,State Name,Price,Unnamed: 1,Rate,Unnamed: 3,Unnamed: 4,Unnamed: 5,Children ages 0-17 in poverty (2020),Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,_merge
0,1.0,Hawaii,636451.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,—,District of Columbia,626911.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,2.0,California,554886.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,3.0,Massachusetts,422856.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,4.0,Washington,409228.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,NaN,Virginia,NaN,NaN,9.2,NaN,8.9,NaN,9.5,NaN,12.2,NaN,11.6,NaN,12.8,NaN,right_only
102,NaN,Washington,NaN,NaN,9.5,NaN,9.2,NaN,9.8,NaN,11,NaN,10.3,NaN,11.7,NaN,right_only
103,NaN,West Virginia,NaN,NaN,15.8,NaN,15.3,NaN,16.3,NaN,20.3,NaN,19.2,NaN,21.4,NaN,right_only
104,NaN,Wisconsin,NaN,NaN,10,NaN,9.7,NaN,10.3,NaN,12.4,NaN,11.7,NaN,13.1,NaN,right_only
105,NaN,Wyoming,NaN,NaN,9.2,NaN,8.6,NaN,9.8,NaN,10.3,NaN,9.2,NaN,11.4,NaN,right_only

In [35]:
ex1.dtypes

State rank     object
State Name     object
Price         float64
dtype: object

In [36]:
mergedOuter['_merge'].value_counts()
mergedOuter['State Name'][mergedOuter['_merge']=='left_only']
mergedOuter['State Name'][mergedOuter['_merge']=='right_only']

51     All people in poverty (2020)
52                              NaN
53                             Name
54                          Alabama
55                           Alaska
56                          Arizona
57                         Arkansas
58                       California
59                         Colorado
60                      Connecticut
61                         Delaware
62             District of Columbia
63                          Florida
64                          Georgia
65                           Hawaii
66                            Idaho
67                         Illinois
68                          Indiana
69                             Iowa
70                           Kansas
71                         Kentucky
72                        Louisiana
73                            Maine
74                         Maryland
75                    Massachusetts
76                         Michigan
77                        Minnesota
78                      Mississippi
79                         Missouri
80                          Montana
81                         National
82                         Nebraska
83                           Nevada
84                    New Hampshire
85                       New Jersey
86                       New Mexico
87                         New York
88                   North Carolina
89                     North Dakota
90                             Ohio
91                         Oklahoma
92                           Oregon
93                     Pennsylvania
94                     Rhode Island
95                   South Carolina
96                     South Dakota
97                        Tennessee
98                            Texas
99                             Utah
100                         Vermont
101                        Virginia
102                      Washington
103                   West Virginia
104                       Wisconsin
105                         Wyoming
Name: State Name, dtype: object

In [37]:
mergedInner = pd.merge(ex1, ex2, how='inner', on=['State Name'])
mergedInner

Empty DataFrame
Columns: [State rank, State Name, Price, Unnamed: 1, Rate, Unnamed: 3, Unnamed: 4, Unnamed: 5, Children ages 0-17 in poverty (2020), Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13]
Index: []

In [38]:
mergedLeft = pd.merge(ex1, ex2, how='left', on=['State Name'])
mergedLeft

,State rank,State Name,Price,Unnamed: 1,Rate,Unnamed: 3,Unnamed: 4,Unnamed: 5,Children ages 0-17 in poverty (2020),Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1.0,Hawaii,636451.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,—,District of Columbia,626911.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,California,554886.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Massachusetts,422856.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,Washington,409228.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5.0,Colorado,397820.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6.0,Oregon,361970.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7.0,Utah,348376.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8.0,New Jersey,335607.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9.0,New York,321934.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10.0,Maryland,308041.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11.0,Nevada,301753.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12.0,Alaska,300889.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13.0,Rhode Island,300808.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14.0,New Hampshire,290163.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15.0,Idaho,285982.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16.0,Virginia,285229.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17.0,Montana,277801.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18.0,Arizona,268765.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19.0,Minnesota,256857.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20.0,Connecticut,255555.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21.0,Vermont,254234.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22.0,Delaware,254108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23.0,Wyoming,250890.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24.0,Florida,245169.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25.0,Maine,242316.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26.0,North Dakota,235012.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27.0,Texas,207301.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28.0,South Dakota,205567.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29.0,New Mexico,203675.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,30.0,Illinois,202675.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,31.0,North Carolina,202215.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,32.0,Wisconsin,202029.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,33.0,Georgia,201294.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,34.0,Pennsylvania,194603.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,35.0,Tennessee,185922.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,36.0,South Carolina,185749.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,37.0,Nebraska,175884.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,38.0,Michigan,173277.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,39.0,Louisiana,166565.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,40.0,Missouri,162464.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,41.0,Indiana,155640.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,42.0,Iowa,152885.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,43.0,Kansas,150657.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,44.0,Ohio,150374.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,45.0,Kentucky,146871.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,46.0,Alabama,138975.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,47.0,Oklahoma,128934.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,48.0,Arkansas,128101.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,49.0,Mississippi,126502.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,50.0,West Virginia,108236.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
mergedRight = pd.merge(ex1, ex2, how='right', on=['State Name'])
mergedRight

,State rank,State Name,Price,Unnamed: 1,Rate,Unnamed: 3,Unnamed: 4,Unnamed: 5,Children ages 0-17 in poverty (2020),Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,All people in poverty (2020),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN
2,NaN,Name,NaN,Unsorted,Percent,Unsorted,Lower Bound,Unsorted,Upper Bound,Unsorted,Percent,Unsorted,Lower Bound,Unsorted,Upper Bound,Unsorted
3,46.0,Alabama,138975.0,NaN,14.9,NaN,14.5,NaN,15.3,NaN,20.9,NaN,20,NaN,21.8,NaN
4,12.0,Alaska,300889.0,NaN,9.6,NaN,9.1,NaN,10.1,NaN,12.3,NaN,11.3,NaN,13.3,NaN
5,18.0,Arizona,268765.0,NaN,12.8,NaN,12.4,NaN,13.2,NaN,17.6,NaN,16.7,NaN,18.5,NaN
6,48.0,Arkansas,128101.0,NaN,15.2,NaN,14.7,NaN,15.7,NaN,20.8,NaN,19.8,NaN,21.8,NaN
7,2.0,California,554886.0,NaN,11.5,NaN,11.3,NaN,11.7,NaN,14.6,NaN,14.2,NaN,15,NaN
8,5.0,Colorado,397820.0,NaN,9,NaN,8.7,NaN,9.3,NaN,10.6,NaN,9.9,NaN,11.3,NaN
9,20.0,Connecticut,255555.0,NaN,9.7,NaN,9.3,NaN,10.1,NaN,11.8,NaN,10.9,NaN,12.7,NaN
10,22.0,Delaware,254108.0,NaN,10.9,NaN,10.3,NaN,11.5,NaN,15.1,NaN,14,NaN,16.2,NaN
11,—,District of Columbia,626911.0,NaN,15,NaN,14,NaN,16,NaN,22.3,NaN,19.4,NaN,25.2,NaN
12,24.0,Florida,245169.0,NaN,12.4,NaN,12.1,NaN,12.7,NaN,17.2,NaN,16.6,NaN,17.8,NaN
13,33.0,Georgia,201294.0,NaN,14,NaN,13.6,NaN,14.4,NaN,19.5,NaN,18.8,NaN,20.2,NaN
14,1.0,Hawaii,636451.0,NaN,8.9,NaN,8.4,NaN,9.4,NaN,10.4,NaN,9.4,NaN,11.4,NaN
15,15.0,Idaho,285982.0,NaN,10.1,NaN,9.6,NaN,10.6,NaN,11.6,NaN,10.7,NaN,12.5,NaN
16,30.0,Illinois,202675.0,NaN,11,NaN,10.8,NaN,11.2,NaN,13.9,NaN,13.4,NaN,14.4,NaN
17,41.0,Indiana,155640.0,NaN,11.6,NaN,11.3,NaN,11.9,NaN,14.9,NaN,14.2,NaN,15.6,NaN
18,42.0,Iowa,152885.0,NaN,10.2,NaN,9.8,NaN,10.6,NaN,12,NaN,11.2,NaN,12.8,NaN
19,43.0,Kansas,150657.0,NaN,10.6,NaN,10.2,NaN,11,NaN,13,NaN,12.1,NaN,13.9,NaN
20,45.0,Kentucky,146871.0,NaN,14.9,NaN,14.5,NaN,15.3,NaN,19.4,NaN,18.6,NaN,20.2,NaN
21,39.0,Louisiana,166565.0,NaN,17.8,NaN,17.3,NaN,18.3,NaN,24.3,NaN,23.4,NaN,25.2,NaN
22,25.0,Maine,242316.0,NaN,10.6,NaN,10.1,NaN,11.1,NaN,12.8,NaN,11.8,NaN,13.8,NaN
23,10.0,Maryland,308041.0,NaN,9,NaN,8.7,NaN,9.3,NaN,11.2,NaN,10.4,NaN,12,NaN
24,3.0,Massachusetts,422856.0,NaN,9.4,NaN,9.1,NaN,9.7,NaN,10.9,NaN,10.2,NaN,11.6,NaN
25,38.0,Michigan,173277.0,NaN,12.6,NaN,12.3,NaN,12.9,NaN,16.8,NaN,16.2,NaN,17.4,NaN
26,19.0,Minnesota,256857.0,NaN,8.3,NaN,8,NaN,8.6,NaN,9.5,NaN,8.8,NaN,10.2,NaN
27,49.0,Mississippi,126502.0,NaN,18.7,NaN,18.2,NaN,19.2,NaN,26,NaN,24.9,NaN,27.1,NaN
28,40.0,Missouri,162464.0,NaN,12.1,NaN,11.8,NaN,12.4,NaN,15.5,NaN,14.8,NaN,16.2,NaN
29,17.0,Montana,277801.0,NaN,12.4,NaN,11.9,NaN,12.9,NaN,14.6,NaN,13.6,NaN,15.6,NaN
30,NaN,National,NaN,NaN,11.9,NaN,11.9,NaN,11.9,NaN,15.7,NaN,15.7,NaN,15.7,NaN
31,37.0,Nebraska,175884.0,NaN,9.2,NaN,8.8,NaN,9.6,NaN,10.1,NaN,9.3,NaN,10.9,NaN
32,11.0,Nevada,301753.0,NaN,12.5,NaN,12,NaN,13,NaN,16.7,NaN,15.8,NaN,17.6,NaN
33,14.0,New Hampshire,290163.0,NaN,7,NaN,6.5,NaN,7.5,NaN,8.4,NaN,7.4,NaN,9.4,NaN
34,8.0,New Jersey,335607.0,NaN,9.4,NaN,9.1,NaN,9.7,NaN,12.6,NaN,11.9,NaN,13.3,NaN
35,29.0,New Mexico,203675.0,NaN,16.8,NaN,16.2,NaN,17.4,NaN,21.6,NaN,20.4,NaN,22.8,NaN
36,9.0,New York,321934.0,NaN,12.7,NaN,12.5,NaN,12.9,NaN,16.7,NaN,16.1,NaN,17.3,NaN
37,31.0,North Carolina,202215.0,NaN,12.9,NaN,12.6,NaN,13.2,NaN,17.9,NaN,17.1,NaN,18.7,NaN
38,26.0,North Dakota,235012.0,NaN,10.2,NaN,9.5,NaN,10.9,NaN,10.9,NaN,9.9,NaN,11.9,NaN
39,44.0,Ohio,150374.0,NaN,12.6,NaN,12.3,NaN,12.9,NaN,16.6,NaN,15.9,NaN,17.3,NaN
40,47.0,Oklahoma,128934.0,NaN,14.3,NaN,13.9,NaN,14.7,NaN,18.6,NaN,17.8,NaN,19.4,NaN
41,6.0,Oregon,361970.0,NaN,11,NaN,10.6,NaN,11.4,NaN,12.2,NaN,11.4,NaN,13,NaN
42,34.0,Pennsylvania,194603.0,NaN,10.9,NaN,10.7,NaN,11.1,NaN,14.3,NaN,13.7,NaN,14.9,NaN
43,13.0,Rhode Island,300808.0,NaN,10.6,NaN,10,NaN,11.2,NaN,14.5,NaN,13.4,NaN,15.6,NaN
44,36.0,South Carolina,185749.0,NaN,13.8,NaN,13.4,NaN,14.2,NaN,18.7,NaN,17.9,NaN,19.5,NaN
45,28.0,South Dakota,205567.0,NaN,11.6,NaN,11.1,NaN,12.1,NaN,13.9,NaN,13,NaN,14.8,NaN
46,35.0,Tennessee,185922.0,NaN,13.6,NaN,13.2,NaN,14,NaN,18.4,NaN,17.6,NaN,19.2,NaN
47,27.0,Texas,207301.0,NaN,13.4,NaN,13.2,NaN,13.6,NaN,18.8,NaN,18.2,NaN,19.4,NaN
48,7.0,Utah,348376.0,NaN,7.3,NaN,6.9,NaN,7.7,NaN,7.5,NaN,6.8,NaN,8.2,NaN
49,21.0,Vermont,254234.0,NaN,9.4,NaN,8.8,NaN,10,NaN,10,NaN,9,NaN,11,NaN
50,16.0,Virginia,285229.0,NaN,9.2,NaN,8.9,NaN,9.5,NaN,12.2,NaN,11.6,NaN,12.8,NaN
51,4.0,Washington,409228.0,NaN,9.5,NaN,9.2,NaN,9.8,NaN,11,NaN,10.3,NaN,11.7,NaN
52,50.0,West Virginia,108236.0,NaN,15.8,NaN,15.3,NaN,16.3,NaN,20.3,NaN,19.2,NaN,21.4,NaN
53,32.0,Wisconsin,202029.0,NaN,10,NaN,9.7,NaN,10.3,NaN,12.4,NaN,11.7,NaN,13.1,NaN
54,23.0,Wyoming,250890.0,NaN,9.2,NaN,8.6,NaN,9.8,NaN,10.3,NaN,9.2,NaN,11.4,NaN

In [48]:
ex1['State Name']=ex1['State Name'].str.strip()

In [49]:
ex2['State Name']=ex2['State Name'].str.strip()

In [50]:
ex2

,State Name,Unnamed: 1,Rate,Unnamed: 3,Unnamed: 4,Unnamed: 5,Children ages 0-17 in poverty (2020),Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,All people in poverty (2020),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN
2,Name,Unsorted,Percent,Unsorted,Lower Bound,Unsorted,Upper Bound,Unsorted,Percent,Unsorted,Lower Bound,Unsorted,Upper Bound,Unsorted
3,Alabama,NaN,14.9,NaN,14.5,NaN,15.3,NaN,20.9,NaN,20,NaN,21.8,NaN
4,Alaska,NaN,9.6,NaN,9.1,NaN,10.1,NaN,12.3,NaN,11.3,NaN,13.3,NaN
5,Arizona,NaN,12.8,NaN,12.4,NaN,13.2,NaN,17.6,NaN,16.7,NaN,18.5,NaN
6,Arkansas,NaN,15.2,NaN,14.7,NaN,15.7,NaN,20.8,NaN,19.8,NaN,21.8,NaN
7,California,NaN,11.5,NaN,11.3,NaN,11.7,NaN,14.6,NaN,14.2,NaN,15,NaN
8,Colorado,NaN,9,NaN,8.7,NaN,9.3,NaN,10.6,NaN,9.9,NaN,11.3,NaN
9,Connecticut,NaN,9.7,NaN,9.3,NaN,10.1,NaN,11.8,NaN,10.9,NaN,12.7,NaN
10,Delaware,NaN,10.9,NaN,10.3,NaN,11.5,NaN,15.1,NaN,14,NaN,16.2,NaN
11,District of Columbia,NaN,15,NaN,14,NaN,16,NaN,22.3,NaN,19.4,NaN,25.2,NaN
12,Florida,NaN,12.4,NaN,12.1,NaN,12.7,NaN,17.2,NaN,16.6,NaN,17.8,NaN
13,Georgia,NaN,14,NaN,13.6,NaN,14.4,NaN,19.5,NaN,18.8,NaN,20.2,NaN
14,Hawaii,NaN,8.9,NaN,8.4,NaN,9.4,NaN,10.4,NaN,9.4,NaN,11.4,NaN
15,Idaho,NaN,10.1,NaN,9.6,NaN,10.6,NaN,11.6,NaN,10.7,NaN,12.5,NaN
16,Illinois,NaN,11,NaN,10.8,NaN,11.2,NaN,13.9,NaN,13.4,NaN,14.4,NaN
17,Indiana,NaN,11.6,NaN,11.3,NaN,11.9,NaN,14.9,NaN,14.2,NaN,15.6,NaN
18,Iowa,NaN,10.2,NaN,9.8,NaN,10.6,NaN,12,NaN,11.2,NaN,12.8,NaN
19,Kansas,NaN,10.6,NaN,10.2,NaN,11,NaN,13,NaN,12.1,NaN,13.9,NaN
20,Kentucky,NaN,14.9,NaN,14.5,NaN,15.3,NaN,19.4,NaN,18.6,NaN,20.2,NaN
21,Louisiana,NaN,17.8,NaN,17.3,NaN,18.3,NaN,24.3,NaN,23.4,NaN,25.2,NaN
22,Maine,NaN,10.6,NaN,10.1,NaN,11.1,NaN,12.8,NaN,11.8,NaN,13.8,NaN
23,Maryland,NaN,9,NaN,8.7,NaN,9.3,NaN,11.2,NaN,10.4,NaN,12,NaN
24,Massachusetts,NaN,9.4,NaN,9.1,NaN,9.7,NaN,10.9,NaN,10.2,NaN,11.6,NaN
25,Michigan,NaN,12.6,NaN,12.3,NaN,12.9,NaN,16.8,NaN,16.2,NaN,17.4,NaN
26,Minnesota,NaN,8.3,NaN,8,NaN,8.6,NaN,9.5,NaN,8.8,NaN,10.2,NaN
27,Mississippi,NaN,18.7,NaN,18.2,NaN,19.2,NaN,26,NaN,24.9,NaN,27.1,NaN
28,Missouri,NaN,12.1,NaN,11.8,NaN,12.4,NaN,15.5,NaN,14.8,NaN,16.2,NaN
29,Montana,NaN,12.4,NaN,11.9,NaN,12.9,NaN,14.6,NaN,13.6,NaN,15.6,NaN
30,National,NaN,11.9,NaN,11.9,NaN,11.9,NaN,15.7,NaN,15.7,NaN,15.7,NaN
31,Nebraska,NaN,9.2,NaN,8.8,NaN,9.6,NaN,10.1,NaN,9.3,NaN,10.9,NaN
32,Nevada,NaN,12.5,NaN,12,NaN,13,NaN,16.7,NaN,15.8,NaN,17.6,NaN
33,New Hampshire,NaN,7,NaN,6.5,NaN,7.5,NaN,8.4,NaN,7.4,NaN,9.4,NaN
34,New Jersey,NaN,9.4,NaN,9.1,NaN,9.7,NaN,12.6,NaN,11.9,NaN,13.3,NaN
35,New Mexico,NaN,16.8,NaN,16.2,NaN,17.4,NaN,21.6,NaN,20.4,NaN,22.8,NaN
36,New York,NaN,12.7,NaN,12.5,NaN,12.9,NaN,16.7,NaN,16.1,NaN,17.3,NaN
37,North Carolina,NaN,12.9,NaN,12.6,NaN,13.2,NaN,17.9,NaN,17.1,NaN,18.7,NaN
38,North Dakota,NaN,10.2,NaN,9.5,NaN,10.9,NaN,10.9,NaN,9.9,NaN,11.9,NaN
39,Ohio,NaN,12.6,NaN,12.3,NaN,12.9,NaN,16.6,NaN,15.9,NaN,17.3,NaN
40,Oklahoma,NaN,14.3,NaN,13.9,NaN,14.7,NaN,18.6,NaN,17.8,NaN,19.4,NaN
41,Oregon,NaN,11,NaN,10.6,NaN,11.4,NaN,12.2,NaN,11.4,NaN,13,NaN
42,Pennsylvania,NaN,10.9,NaN,10.7,NaN,11.1,NaN,14.3,NaN,13.7,NaN,14.9,NaN
43,Rhode Island,NaN,10.6,NaN,10,NaN,11.2,NaN,14.5,NaN,13.4,NaN,15.6,NaN
44,South Carolina,NaN,13.8,NaN,13.4,NaN,14.2,NaN,18.7,NaN,17.9,NaN,19.5,NaN
45,South Dakota,NaN,11.6,NaN,11.1,NaN,12.1,NaN,13.9,NaN,13,NaN,14.8,NaN
46,Tennessee,NaN,13.6,NaN,13.2,NaN,14,NaN,18.4,NaN,17.6,NaN,19.2,NaN
47,Texas,NaN,13.4,NaN,13.2,NaN,13.6,NaN,18.8,NaN,18.2,NaN,19.4,NaN
48,Utah,NaN,7.3,NaN,6.9,NaN,7.7,NaN,7.5,NaN,6.8,NaN,8.2,NaN
49,Vermont,NaN,9.4,NaN,8.8,NaN,10,NaN,10,NaN,9,NaN,11,NaN
50,Virginia,NaN,9.2,NaN,8.9,NaN,9.5,NaN,12.2,NaN,11.6,NaN,12.8,NaN
51,Washington,NaN,9.5,NaN,9.2,NaN,9.8,NaN,11,NaN,10.3,NaN,11.7,NaN
52,West Virginia,NaN,15.8,NaN,15.3,NaN,16.3,NaN,20.3,NaN,19.2,NaN,21.4,NaN
53,Wisconsin,NaN,10,NaN,9.7,NaN,10.3,NaN,12.4,NaN,11.7,NaN,13.1,NaN
54,Wyoming,NaN,9.2,NaN,8.6,NaN,9.8,NaN,10.3,NaN,9.2,NaN,11.4,NaN

In [51]:
ex2['State Name']

0     All people in poverty (2020)
1                              NaN
2                             Name
3                          Alabama
4                           Alaska
5                          Arizona
6                         Arkansas
7                       California
8                         Colorado
9                      Connecticut
10                        Delaware
11            District of Columbia
12                         Florida
13                         Georgia
14                          Hawaii
15                           Idaho
16                        Illinois
17                         Indiana
18                            Iowa
19                          Kansas
20                        Kentucky
21                       Louisiana
22                           Maine
23                        Maryland
24                   Massachusetts
25                        Michigan
26                       Minnesota
27                     Mississippi
28                        Missouri
29                         Montana
30                        National
31                        Nebraska
32                          Nevada
33                   New Hampshire
34                      New Jersey
35                      New Mexico
36                        New York
37                  North Carolina
38                    North Dakota
39                            Ohio
40                        Oklahoma
41                          Oregon
42                    Pennsylvania
43                    Rhode Island
44                  South Carolina
45                    South Dakota
46                       Tennessee
47                           Texas
48                            Utah
49                         Vermont
50                        Virginia
51                      Washington
52                   West Virginia
53                       Wisconsin
54                         Wyoming
Name: State Name, dtype: object

In [52]:
ex1_2 = pd.merge(ex1, ex2, how='right', on=['State Name'], indicator=True)
mergedRight

,State rank,State Name,Price,Unnamed: 1,Rate,Unnamed: 3,Unnamed: 4,Unnamed: 5,Children ages 0-17 in poverty (2020),Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,All people in poverty (2020),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN
2,NaN,Name,NaN,Unsorted,Percent,Unsorted,Lower Bound,Unsorted,Upper Bound,Unsorted,Percent,Unsorted,Lower Bound,Unsorted,Upper Bound,Unsorted
3,46.0,Alabama,138975.0,NaN,14.9,NaN,14.5,NaN,15.3,NaN,20.9,NaN,20,NaN,21.8,NaN
4,12.0,Alaska,300889.0,NaN,9.6,NaN,9.1,NaN,10.1,NaN,12.3,NaN,11.3,NaN,13.3,NaN
5,18.0,Arizona,268765.0,NaN,12.8,NaN,12.4,NaN,13.2,NaN,17.6,NaN,16.7,NaN,18.5,NaN
6,48.0,Arkansas,128101.0,NaN,15.2,NaN,14.7,NaN,15.7,NaN,20.8,NaN,19.8,NaN,21.8,NaN
7,2.0,California,554886.0,NaN,11.5,NaN,11.3,NaN,11.7,NaN,14.6,NaN,14.2,NaN,15,NaN
8,5.0,Colorado,397820.0,NaN,9,NaN,8.7,NaN,9.3,NaN,10.6,NaN,9.9,NaN,11.3,NaN
9,20.0,Connecticut,255555.0,NaN,9.7,NaN,9.3,NaN,10.1,NaN,11.8,NaN,10.9,NaN,12.7,NaN
10,22.0,Delaware,254108.0,NaN,10.9,NaN,10.3,NaN,11.5,NaN,15.1,NaN,14,NaN,16.2,NaN
11,—,District of Columbia,626911.0,NaN,15,NaN,14,NaN,16,NaN,22.3,NaN,19.4,NaN,25.2,NaN
12,24.0,Florida,245169.0,NaN,12.4,NaN,12.1,NaN,12.7,NaN,17.2,NaN,16.6,NaN,17.8,NaN
13,33.0,Georgia,201294.0,NaN,14,NaN,13.6,NaN,14.4,NaN,19.5,NaN,18.8,NaN,20.2,NaN
14,1.0,Hawaii,636451.0,NaN,8.9,NaN,8.4,NaN,9.4,NaN,10.4,NaN,9.4,NaN,11.4,NaN
15,15.0,Idaho,285982.0,NaN,10.1,NaN,9.6,NaN,10.6,NaN,11.6,NaN,10.7,NaN,12.5,NaN
16,30.0,Illinois,202675.0,NaN,11,NaN,10.8,NaN,11.2,NaN,13.9,NaN,13.4,NaN,14.4,NaN
17,41.0,Indiana,155640.0,NaN,11.6,NaN,11.3,NaN,11.9,NaN,14.9,NaN,14.2,NaN,15.6,NaN
18,42.0,Iowa,152885.0,NaN,10.2,NaN,9.8,NaN,10.6,NaN,12,NaN,11.2,NaN,12.8,NaN
19,43.0,Kansas,150657.0,NaN,10.6,NaN,10.2,NaN,11,NaN,13,NaN,12.1,NaN,13.9,NaN
20,45.0,Kentucky,146871.0,NaN,14.9,NaN,14.5,NaN,15.3,NaN,19.4,NaN,18.6,NaN,20.2,NaN
21,39.0,Louisiana,166565.0,NaN,17.8,NaN,17.3,NaN,18.3,NaN,24.3,NaN,23.4,NaN,25.2,NaN
22,25.0,Maine,242316.0,NaN,10.6,NaN,10.1,NaN,11.1,NaN,12.8,NaN,11.8,NaN,13.8,NaN
23,10.0,Maryland,308041.0,NaN,9,NaN,8.7,NaN,9.3,NaN,11.2,NaN,10.4,NaN,12,NaN
24,3.0,Massachusetts,422856.0,NaN,9.4,NaN,9.1,NaN,9.7,NaN,10.9,NaN,10.2,NaN,11.6,NaN
25,38.0,Michigan,173277.0,NaN,12.6,NaN,12.3,NaN,12.9,NaN,16.8,NaN,16.2,NaN,17.4,NaN
26,19.0,Minnesota,256857.0,NaN,8.3,NaN,8,NaN,8.6,NaN,9.5,NaN,8.8,NaN,10.2,NaN
27,49.0,Mississippi,126502.0,NaN,18.7,NaN,18.2,NaN,19.2,NaN,26,NaN,24.9,NaN,27.1,NaN
28,40.0,Missouri,162464.0,NaN,12.1,NaN,11.8,NaN,12.4,NaN,15.5,NaN,14.8,NaN,16.2,NaN
29,17.0,Montana,277801.0,NaN,12.4,NaN,11.9,NaN,12.9,NaN,14.6,NaN,13.6,NaN,15.6,NaN
30,NaN,National,NaN,NaN,11.9,NaN,11.9,NaN,11.9,NaN,15.7,NaN,15.7,NaN,15.7,NaN
31,37.0,Nebraska,175884.0,NaN,9.2,NaN,8.8,NaN,9.6,NaN,10.1,NaN,9.3,NaN,10.9,NaN
32,11.0,Nevada,301753.0,NaN,12.5,NaN,12,NaN,13,NaN,16.7,NaN,15.8,NaN,17.6,NaN
33,14.0,New Hampshire,290163.0,NaN,7,NaN,6.5,NaN,7.5,NaN,8.4,NaN,7.4,NaN,9.4,NaN
34,8.0,New Jersey,335607.0,NaN,9.4,NaN,9.1,NaN,9.7,NaN,12.6,NaN,11.9,NaN,13.3,NaN
35,29.0,New Mexico,203675.0,NaN,16.8,NaN,16.2,NaN,17.4,NaN,21.6,NaN,20.4,NaN,22.8,NaN
36,9.0,New York,321934.0,NaN,12.7,NaN,12.5,NaN,12.9,NaN,16.7,NaN,16.1,NaN,17.3,NaN
37,31.0,North Carolina,202215.0,NaN,12.9,NaN,12.6,NaN,13.2,NaN,17.9,NaN,17.1,NaN,18.7,NaN
38,26.0,North Dakota,235012.0,NaN,10.2,NaN,9.5,NaN,10.9,NaN,10.9,NaN,9.9,NaN,11.9,NaN
39,44.0,Ohio,150374.0,NaN,12.6,NaN,12.3,NaN,12.9,NaN,16.6,NaN,15.9,NaN,17.3,NaN
40,47.0,Oklahoma,128934.0,NaN,14.3,NaN,13.9,NaN,14.7,NaN,18.6,NaN,17.8,NaN,19.4,NaN
41,6.0,Oregon,361970.0,NaN,11,NaN,10.6,NaN,11.4,NaN,12.2,NaN,11.4,NaN,13,NaN
42,34.0,Pennsylvania,194603.0,NaN,10.9,NaN,10.7,NaN,11.1,NaN,14.3,NaN,13.7,NaN,14.9,NaN
43,13.0,Rhode Island,300808.0,NaN,10.6,NaN,10,NaN,11.2,NaN,14.5,NaN,13.4,NaN,15.6,NaN
44,36.0,South Carolina,185749.0,NaN,13.8,NaN,13.4,NaN,14.2,NaN,18.7,NaN,17.9,NaN,19.5,NaN
45,28.0,South Dakota,205567.0,NaN,11.6,NaN,11.1,NaN,12.1,NaN,13.9,NaN,13,NaN,14.8,NaN
46,35.0,Tennessee,185922.0,NaN,13.6,NaN,13.2,NaN,14,NaN,18.4,NaN,17.6,NaN,19.2,NaN
47,27.0,Texas,207301.0,NaN,13.4,NaN,13.2,NaN,13.6,NaN,18.8,NaN,18.2,NaN,19.4,NaN
48,7.0,Utah,348376.0,NaN,7.3,NaN,6.9,NaN,7.7,NaN,7.5,NaN,6.8,NaN,8.2,NaN
49,21.0,Vermont,254234.0,NaN,9.4,NaN,8.8,NaN,10,NaN,10,NaN,9,NaN,11,NaN
50,16.0,Virginia,285229.0,NaN,9.2,NaN,8.9,NaN,9.5,NaN,12.2,NaN,11.6,NaN,12.8,NaN
51,4.0,Washington,409228.0,NaN,9.5,NaN,9.2,NaN,9.8,NaN,11,NaN,10.3,NaN,11.7,NaN
52,50.0,West Virginia,108236.0,NaN,15.8,NaN,15.3,NaN,16.3,NaN,20.3,NaN,19.2,NaN,21.4,NaN
53,32.0,Wisconsin,202029.0,NaN,10,NaN,9.7,NaN,10.3,NaN,12.4,NaN,11.7,NaN,13.1,NaN
54,23.0,Wyoming,250890.0,NaN,9.2,NaN,8.6,NaN,9.8,NaN,10.3,NaN,9.2,NaN,11.4,NaN

In [65]:
mergedOuter = pd.merge(ex1_2, a, how='outer', on=['State Name'],indicator='exists')
mergedOuter

,State rank,State Name,Price,Unnamed: 1,Rate_x,Unnamed: 3,Unnamed: 4,Unnamed: 5,Children ages 0-17 in poverty (2020),Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,_merge,Rate_y,Rank,exists
0,NaN,All people in poverty (2020),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,right_only,NaN,NaN,left_only
1,NaN,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,right_only,rate,NaN,both
2,NaN,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,right_only,NaN,NaN,both
3,NaN,Name,NaN,Unsorted,Percent,Unsorted,Lower Bound,Unsorted,Upper Bound,Unsorted,Percent,Unsorted,Lower Bound,Unsorted,Upper Bound,Unsorted,right_only,NaN,NaN,left_only
4,46.0,Alabama,138975.0,NaN,14.9,NaN,14.5,NaN,15.3,NaN,20.9,NaN,20,NaN,21.8,NaN,both,6.5,20,both
5,12.0,Alaska,300889.0,NaN,9.6,NaN,9.1,NaN,10.1,NaN,12.3,NaN,11.3,NaN,13.3,NaN,both,8.2,36,both
6,18.0,Arizona,268765.0,NaN,12.8,NaN,12.4,NaN,13.2,NaN,17.6,NaN,16.7,NaN,18.5,NaN,both,7.7,30,both
7,48.0,Arkansas,128101.0,NaN,15.2,NaN,14.7,NaN,15.7,NaN,20.8,NaN,19.8,NaN,21.8,NaN,both,6.1,13,both
8,2.0,California,554886.0,NaN,11.5,NaN,11.3,NaN,11.7,NaN,14.6,NaN,14.2,NaN,15,NaN,both,10.2,49,both
9,5.0,Colorado,397820.0,NaN,9,NaN,8.7,NaN,9.3,NaN,10.6,NaN,9.9,NaN,11.3,NaN,both,6.9,24,both
10,20.0,Connecticut,255555.0,NaN,9.7,NaN,9.3,NaN,10.1,NaN,11.8,NaN,10.9,NaN,12.7,NaN,both,7.8,32,both
11,22.0,Delaware,254108.0,NaN,10.9,NaN,10.3,NaN,11.5,NaN,15.1,NaN,14,NaN,16.2,NaN,both,7.6,28,both
12,—,District of Columbia,626911.0,NaN,15,NaN,14,NaN,16,NaN,22.3,NaN,19.4,NaN,25.2,NaN,both,8,34,both
13,24.0,Florida,245169.0,NaN,12.4,NaN,12.1,NaN,12.7,NaN,17.2,NaN,16.6,NaN,17.8,NaN,both,8.2,36,both
14,33.0,Georgia,201294.0,NaN,14,NaN,13.6,NaN,14.4,NaN,19.5,NaN,18.8,NaN,20.2,NaN,both,6.5,20,both
15,1.0,Hawaii,636451.0,NaN,8.9,NaN,8.4,NaN,9.4,NaN,10.4,NaN,9.4,NaN,11.4,NaN,both,12,50,both
16,15.0,Idaho,285982.0,NaN,10.1,NaN,9.6,NaN,10.6,NaN,11.6,NaN,10.7,NaN,12.5,NaN,both,5.5,7,both
17,30.0,Illinois,202675.0,NaN,11,NaN,10.8,NaN,11.2,NaN,13.9,NaN,13.4,NaN,14.4,NaN,both,9.2,43,both
18,41.0,Indiana,155640.0,NaN,11.6,NaN,11.3,NaN,11.9,NaN,14.9,NaN,14.2,NaN,15.6,NaN,both,7.2,26,both
19,42.0,Iowa,152885.0,NaN,10.2,NaN,9.8,NaN,10.6,NaN,12,NaN,11.2,NaN,12.8,NaN,both,5.1,5,both
20,43.0,Kansas,150657.0,NaN,10.6,NaN,10.2,NaN,11,NaN,13,NaN,12.1,NaN,13.9,NaN,both,5.7,9,both
21,45.0,Kentucky,146871.0,NaN,14.9,NaN,14.5,NaN,15.3,NaN,19.4,NaN,18.6,NaN,20.2,NaN,both,6.4,19,both
22,39.0,Louisiana,166565.0,NaN,17.8,NaN,17.3,NaN,18.3,NaN,24.3,NaN,23.4,NaN,25.2,NaN,both,8.7,41,both
23,25.0,Maine,242316.0,NaN,10.6,NaN,10.1,NaN,11.1,NaN,12.8,NaN,11.8,NaN,13.8,NaN,both,5,4,both
24,10.0,Maryland,308041.0,NaN,9,NaN,8.7,NaN,9.3,NaN,11.2,NaN,10.4,NaN,12,NaN,both,6.7,22,both
25,3.0,Massachusetts,422856.0,NaN,9.4,NaN,9.1,NaN,9.7,NaN,10.9,NaN,10.2,NaN,11.6,NaN,both,9.4,45,both
26,38.0,Michigan,173277.0,NaN,12.6,NaN,12.3,NaN,12.9,NaN,16.8,NaN,16.2,NaN,17.4,NaN,both,10,48,both
27,19.0,Minnesota,256857.0,NaN,8.3,NaN,8,NaN,8.6,NaN,9.5,NaN,8.8,NaN,10.2,NaN,both,6.3,17,both
28,49.0,Mississippi,126502.0,NaN,18.7,NaN,18.2,NaN,19.2,NaN,26,NaN,24.9,NaN,27.1,NaN,both,7.9,33,both
29,40.0,Missouri,162464.0,NaN,12.1,NaN,11.8,NaN,12.4,NaN,15.5,NaN,14.8,NaN,16.2,NaN,both,6.1,13,both
30,17.0,Montana,277801.0,NaN,12.4,NaN,11.9,NaN,12.9,NaN,14.6,NaN,13.6,NaN,15.6,NaN,both,5.8,10,both
31,NaN,National,NaN,NaN,11.9,NaN,11.9,NaN,11.9,NaN,15.7,NaN,15.7,NaN,15.7,NaN,right_only,NaN,NaN,left_only
32,37.0,Nebraska,175884.0,NaN,9.2,NaN,8.8,NaN,9.6,NaN,10.1,NaN,9.3,NaN,10.9,NaN,both,4.1,1,both
33,11.0,Nevada,301753.0,NaN,12.5,NaN,12,NaN,13,NaN,16.7,NaN,15.8,NaN,17.6,NaN,both,13.5,51,both
34,14.0,New Hampshire,290163.0,NaN,7,NaN,6.5,NaN,7.5,NaN,8.4,NaN,7.4,NaN,9.4,NaN,both,6.7,22,both
35,8.0,New Jersey,335607.0,NaN,9.4,NaN,9.1,NaN,9.7,NaN,12.6,NaN,11.9,NaN,13.3,NaN,both,9.5,46,both
36,29.0,New Mexico,203675.0,NaN,16.8,NaN,16.2,NaN,17.4,NaN,21.6,NaN,20.4,NaN,22.8,NaN,both,8.1,35,both
37,9.0,New York,321934.0,NaN,12.7,NaN,12.5,NaN,12.9,NaN,16.7,NaN,16.1,NaN,17.3,NaN,both,9.9,47,both
38,31.0,North Carolina,202215.0,NaN,12.9,NaN,12.6,NaN,13.2,NaN,17.9,NaN,17.1,NaN,18.7,NaN,both,7.1,25,both
39,26.0,North Dakota,235012.0,NaN,10.2,NaN,9.5,NaN,10.9,NaN,10.9,NaN,9.9,NaN,11.9,NaN,both,5.1,5,both
40,44.0,Ohio,150374.0,NaN,12.6,NaN,12.3,NaN,12.9,NaN,16.6,NaN,15.9,NaN,17.3,NaN,both,8.2,36,both
41,47.0,Oklahoma,128934.0,NaN,14.3,NaN,13.9,NaN,14.7,NaN,18.6,NaN,17.8,NaN,19.4,NaN,both,6.2,15,both
42,6.0,Oregon,361970.0,NaN,11,NaN,10.6,NaN,11.4,NaN,12.2,NaN,11.4,NaN,13,NaN,both,7.6,28,both
43,34.0,Pennsylvania,194603.0,NaN,10.9,NaN,10.7,NaN,11.1,NaN,14.3,NaN,13.7,NaN,14.9,NaN,both,9.1,42,both
44,13.0,Rhode Island,300808.0,NaN,10.6,NaN,10,NaN,11.2,NaN,14.5,NaN,13.4,NaN,15.6,NaN,both,9.2,43,both
45,36.0,South Carolina,185749.0,NaN,13.8,NaN,13.4,NaN,14.2,NaN,18.7,NaN,17.9,NaN,19.5,NaN,both,6,12,both
46,28.0,South Dakota,205567.0,NaN,11.6,NaN,11.1,NaN,12.1,NaN,13.9,NaN,13,NaN,14.8,NaN,both,4.3,2,both
47,35.0,Tennessee,185922.0,NaN,13.6,NaN,13.2,NaN,14,NaN,18.4,NaN,17.6,NaN,19.2,NaN,both,7.4,27,both
48,27.0,Texas,207301.0,NaN,13.4,NaN,13.2,NaN,13.6,NaN,18.8,NaN,18.2,NaN,19.4,NaN,both,7.7,30,both
49,7.0,Utah,348376.0,NaN,7.3,NaN,6.9,NaN,7.7,NaN,7.5,NaN,6.8,NaN,8.2,NaN,both,4.7,3,both
50,21.0,Vermont,254234.0,NaN,9.4,NaN,8.8,NaN,10,NaN,10,NaN,9,NaN,11,NaN,both,5.6,8,both
51,16.0,Virginia,285229.0,NaN,9.2,NaN,8.9,NaN,9.5,NaN,12.2,NaN,11.6,NaN,12.8,NaN,both,6.2,15,both
52,4.0,Washington,409228.0,NaN,9.5,NaN,9.2,NaN,9.8,NaN,11,NaN,10.3,NaN,11.7,NaN,both,8.5,40,both
53,50.0,West Virginia,108236.0,NaN,15.8,NaN,15.3,NaN,16.3,NaN,20.3,NaN,19.2,NaN,21.4,NaN,both,8.2,36,both
54,32.0,Wisconsin,202029.0,NaN,10,NaN,9.7,NaN,10.3,NaN,12.4,NaN,11.7,NaN,13.1,NaN,both,6.3,17,both
55,23.0,Wyoming,250890.0,NaN,9.2,NaN,8.6,NaN,9.8,NaN,10.3,NaN,9.2,NaN,11.4,NaN,both,5.8,10,both
56,NaN,State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,Rank,right_only
57,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.1,NaN,right_only
58,NaN,Note: Rates shown are a percentage of the labo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,right_only

In [66]:
mergedOuter['_merge'].value_counts()

both          51
right_only     5
left_only      0
Name: _merge, dtype: int64

In [67]:
mergedOuter['State Name'][mergedOuter['_merge']=='left_only']

Series([], Name: State Name, dtype: object)

In [68]:
mergedOuter['State Name'][mergedOuter['_merge']=='right_only']

0     All people in poverty (2020)
1                              NaN
2                              NaN
3                             Name
31                        National
Name: State Name, dtype: object

In [69]:
mergedInner = pd.merge(ex1_2, a, how='inner', on=['State Name'])
mergedInner

,State rank,State Name,Price,Unnamed: 1,Rate_x,Unnamed: 3,Unnamed: 4,Unnamed: 5,Children ages 0-17 in poverty (2020),Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,_merge,Rate_y,Rank
0,NaN,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,right_only,rate,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,right_only,NaN,NaN
2,46.0,Alabama,138975.0,NaN,14.9,NaN,14.5,NaN,15.3,NaN,20.9,NaN,20,NaN,21.8,NaN,both,6.5,20
3,12.0,Alaska,300889.0,NaN,9.6,NaN,9.1,NaN,10.1,NaN,12.3,NaN,11.3,NaN,13.3,NaN,both,8.2,36
4,18.0,Arizona,268765.0,NaN,12.8,NaN,12.4,NaN,13.2,NaN,17.6,NaN,16.7,NaN,18.5,NaN,both,7.7,30
5,48.0,Arkansas,128101.0,NaN,15.2,NaN,14.7,NaN,15.7,NaN,20.8,NaN,19.8,NaN,21.8,NaN,both,6.1,13
6,2.0,California,554886.0,NaN,11.5,NaN,11.3,NaN,11.7,NaN,14.6,NaN,14.2,NaN,15,NaN,both,10.2,49
7,5.0,Colorado,397820.0,NaN,9,NaN,8.7,NaN,9.3,NaN,10.6,NaN,9.9,NaN,11.3,NaN,both,6.9,24
8,20.0,Connecticut,255555.0,NaN,9.7,NaN,9.3,NaN,10.1,NaN,11.8,NaN,10.9,NaN,12.7,NaN,both,7.8,32
9,22.0,Delaware,254108.0,NaN,10.9,NaN,10.3,NaN,11.5,NaN,15.1,NaN,14,NaN,16.2,NaN,both,7.6,28
10,—,District of Columbia,626911.0,NaN,15,NaN,14,NaN,16,NaN,22.3,NaN,19.4,NaN,25.2,NaN,both,8,34
11,24.0,Florida,245169.0,NaN,12.4,NaN,12.1,NaN,12.7,NaN,17.2,NaN,16.6,NaN,17.8,NaN,both,8.2,36
12,33.0,Georgia,201294.0,NaN,14,NaN,13.6,NaN,14.4,NaN,19.5,NaN,18.8,NaN,20.2,NaN,both,6.5,20
13,1.0,Hawaii,636451.0,NaN,8.9,NaN,8.4,NaN,9.4,NaN,10.4,NaN,9.4,NaN,11.4,NaN,both,12,50
14,15.0,Idaho,285982.0,NaN,10.1,NaN,9.6,NaN,10.6,NaN,11.6,NaN,10.7,NaN,12.5,NaN,both,5.5,7
15,30.0,Illinois,202675.0,NaN,11,NaN,10.8,NaN,11.2,NaN,13.9,NaN,13.4,NaN,14.4,NaN,both,9.2,43
16,41.0,Indiana,155640.0,NaN,11.6,NaN,11.3,NaN,11.9,NaN,14.9,NaN,14.2,NaN,15.6,NaN,both,7.2,26
17,42.0,Iowa,152885.0,NaN,10.2,NaN,9.8,NaN,10.6,NaN,12,NaN,11.2,NaN,12.8,NaN,both,5.1,5
18,43.0,Kansas,150657.0,NaN,10.6,NaN,10.2,NaN,11,NaN,13,NaN,12.1,NaN,13.9,NaN,both,5.7,9
19,45.0,Kentucky,146871.0,NaN,14.9,NaN,14.5,NaN,15.3,NaN,19.4,NaN,18.6,NaN,20.2,NaN,both,6.4,19
20,39.0,Louisiana,166565.0,NaN,17.8,NaN,17.3,NaN,18.3,NaN,24.3,NaN,23.4,NaN,25.2,NaN,both,8.7,41
21,25.0,Maine,242316.0,NaN,10.6,NaN,10.1,NaN,11.1,NaN,12.8,NaN,11.8,NaN,13.8,NaN,both,5,4
22,10.0,Maryland,308041.0,NaN,9,NaN,8.7,NaN,9.3,NaN,11.2,NaN,10.4,NaN,12,NaN,both,6.7,22
23,3.0,Massachusetts,422856.0,NaN,9.4,NaN,9.1,NaN,9.7,NaN,10.9,NaN,10.2,NaN,11.6,NaN,both,9.4,45
24,38.0,Michigan,173277.0,NaN,12.6,NaN,12.3,NaN,12.9,NaN,16.8,NaN,16.2,NaN,17.4,NaN,both,10,48
25,19.0,Minnesota,256857.0,NaN,8.3,NaN,8,NaN,8.6,NaN,9.5,NaN,8.8,NaN,10.2,NaN,both,6.3,17
26,49.0,Mississippi,126502.0,NaN,18.7,NaN,18.2,NaN,19.2,NaN,26,NaN,24.9,NaN,27.1,NaN,both,7.9,33
27,40.0,Missouri,162464.0,NaN,12.1,NaN,11.8,NaN,12.4,NaN,15.5,NaN,14.8,NaN,16.2,NaN,both,6.1,13
28,17.0,Montana,277801.0,NaN,12.4,NaN,11.9,NaN,12.9,NaN,14.6,NaN,13.6,NaN,15.6,NaN,both,5.8,10
29,37.0,Nebraska,175884.0,NaN,9.2,NaN,8.8,NaN,9.6,NaN,10.1,NaN,9.3,NaN,10.9,NaN,both,4.1,1
30,11.0,Nevada,301753.0,NaN,12.5,NaN,12,NaN,13,NaN,16.7,NaN,15.8,NaN,17.6,NaN,both,13.5,51
31,14.0,New Hampshire,290163.0,NaN,7,NaN,6.5,NaN,7.5,NaN,8.4,NaN,7.4,NaN,9.4,NaN,both,6.7,22
32,8.0,New Jersey,335607.0,NaN,9.4,NaN,9.1,NaN,9.7,NaN,12.6,NaN,11.9,NaN,13.3,NaN,both,9.5,46
33,29.0,New Mexico,203675.0,NaN,16.8,NaN,16.2,NaN,17.4,NaN,21.6,NaN,20.4,NaN,22.8,NaN,both,8.1,35
34,9.0,New York,321934.0,NaN,12.7,NaN,12.5,NaN,12.9,NaN,16.7,NaN,16.1,NaN,17.3,NaN,both,9.9,47
35,31.0,North Carolina,202215.0,NaN,12.9,NaN,12.6,NaN,13.2,NaN,17.9,NaN,17.1,NaN,18.7,NaN,both,7.1,25
36,26.0,North Dakota,235012.0,NaN,10.2,NaN,9.5,NaN,10.9,NaN,10.9,NaN,9.9,NaN,11.9,NaN,both,5.1,5
37,44.0,Ohio,150374.0,NaN,12.6,NaN,12.3,NaN,12.9,NaN,16.6,NaN,15.9,NaN,17.3,NaN,both,8.2,36
38,47.0,Oklahoma,128934.0,NaN,14.3,NaN,13.9,NaN,14.7,NaN,18.6,NaN,17.8,NaN,19.4,NaN,both,6.2,15
39,6.0,Oregon,361970.0,NaN,11,NaN,10.6,NaN,11.4,NaN,12.2,NaN,11.4,NaN,13,NaN,both,7.6,28
40,34.0,Pennsylvania,194603.0,NaN,10.9,NaN,10.7,NaN,11.1,NaN,14.3,NaN,13.7,NaN,14.9,NaN,both,9.1,42
41,13.0,Rhode Island,300808.0,NaN,10.6,NaN,10,NaN,11.2,NaN,14.5,NaN,13.4,NaN,15.6,NaN,both,9.2,43
42,36.0,South Carolina,185749.0,NaN,13.8,NaN,13.4,NaN,14.2,NaN,18.7,NaN,17.9,NaN,19.5,NaN,both,6,12
43,28.0,South Dakota,205567.0,NaN,11.6,NaN,11.1,NaN,12.1,NaN,13.9,NaN,13,NaN,14.8,NaN,both,4.3,2
44,35.0,Tennessee,185922.0,NaN,13.6,NaN,13.2,NaN,14,NaN,18.4,NaN,17.6,NaN,19.2,NaN,both,7.4,27
45,27.0,Texas,207301.0,NaN,13.4,NaN,13.2,NaN,13.6,NaN,18.8,NaN,18.2,NaN,19.4,NaN,both,7.7,30
46,7.0,Utah,348376.0,NaN,7.3,NaN,6.9,NaN,7.7,NaN,7.5,NaN,6.8,NaN,8.2,NaN,both,4.7,3
47,21.0,Vermont,254234.0,NaN,9.4,NaN,8.8,NaN,10,NaN,10,NaN,9,NaN,11,NaN,both,5.6,8
48,16.0,Virginia,285229.0,NaN,9.2,NaN,8.9,NaN,9.5,NaN,12.2,NaN,11.6,NaN,12.8,NaN,both,6.2,15
49,4.0,Washington,409228.0,NaN,9.5,NaN,9.2,NaN,9.8,NaN,11,NaN,10.3,NaN,11.7,NaN,both,8.5,40
50,50.0,West Virginia,108236.0,NaN,15.8,NaN,15.3,NaN,16.3,NaN,20.3,NaN,19.2,NaN,21.4,NaN,both,8.2,36
51,32.0,Wisconsin,202029.0,NaN,10,NaN,9.7,NaN,10.3,NaN,12.4,NaN,11.7,NaN,13.1,NaN,both,6.3,17
52,23.0,Wyoming,250890.0,NaN,9.2,NaN,8.6,NaN,9.8,NaN,10.3,NaN,9.2,NaN,11.4,NaN,both,5.8,10

In [71]:
mergedLeft = pd.merge(ex1_2, a, how='left', on=['State Name'])
mergedLeft

,State rank,State Name,Price,Unnamed: 1,Rate_x,Unnamed: 3,Unnamed: 4,Unnamed: 5,Children ages 0-17 in poverty (2020),Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,_merge,Rate_y,Rank
0,NaN,All people in poverty (2020),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,right_only,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,right_only,rate,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,right_only,NaN,NaN
3,NaN,Name,NaN,Unsorted,Percent,Unsorted,Lower Bound,Unsorted,Upper Bound,Unsorted,Percent,Unsorted,Lower Bound,Unsorted,Upper Bound,Unsorted,right_only,NaN,NaN
4,46.0,Alabama,138975.0,NaN,14.9,NaN,14.5,NaN,15.3,NaN,20.9,NaN,20,NaN,21.8,NaN,both,6.5,20
5,12.0,Alaska,300889.0,NaN,9.6,NaN,9.1,NaN,10.1,NaN,12.3,NaN,11.3,NaN,13.3,NaN,both,8.2,36
6,18.0,Arizona,268765.0,NaN,12.8,NaN,12.4,NaN,13.2,NaN,17.6,NaN,16.7,NaN,18.5,NaN,both,7.7,30
7,48.0,Arkansas,128101.0,NaN,15.2,NaN,14.7,NaN,15.7,NaN,20.8,NaN,19.8,NaN,21.8,NaN,both,6.1,13
8,2.0,California,554886.0,NaN,11.5,NaN,11.3,NaN,11.7,NaN,14.6,NaN,14.2,NaN,15,NaN,both,10.2,49
9,5.0,Colorado,397820.0,NaN,9,NaN,8.7,NaN,9.3,NaN,10.6,NaN,9.9,NaN,11.3,NaN,both,6.9,24
10,20.0,Connecticut,255555.0,NaN,9.7,NaN,9.3,NaN,10.1,NaN,11.8,NaN,10.9,NaN,12.7,NaN,both,7.8,32
11,22.0,Delaware,254108.0,NaN,10.9,NaN,10.3,NaN,11.5,NaN,15.1,NaN,14,NaN,16.2,NaN,both,7.6,28
12,—,District of Columbia,626911.0,NaN,15,NaN,14,NaN,16,NaN,22.3,NaN,19.4,NaN,25.2,NaN,both,8,34
13,24.0,Florida,245169.0,NaN,12.4,NaN,12.1,NaN,12.7,NaN,17.2,NaN,16.6,NaN,17.8,NaN,both,8.2,36
14,33.0,Georgia,201294.0,NaN,14,NaN,13.6,NaN,14.4,NaN,19.5,NaN,18.8,NaN,20.2,NaN,both,6.5,20
15,1.0,Hawaii,636451.0,NaN,8.9,NaN,8.4,NaN,9.4,NaN,10.4,NaN,9.4,NaN,11.4,NaN,both,12,50
16,15.0,Idaho,285982.0,NaN,10.1,NaN,9.6,NaN,10.6,NaN,11.6,NaN,10.7,NaN,12.5,NaN,both,5.5,7
17,30.0,Illinois,202675.0,NaN,11,NaN,10.8,NaN,11.2,NaN,13.9,NaN,13.4,NaN,14.4,NaN,both,9.2,43
18,41.0,Indiana,155640.0,NaN,11.6,NaN,11.3,NaN,11.9,NaN,14.9,NaN,14.2,NaN,15.6,NaN,both,7.2,26
19,42.0,Iowa,152885.0,NaN,10.2,NaN,9.8,NaN,10.6,NaN,12,NaN,11.2,NaN,12.8,NaN,both,5.1,5
20,43.0,Kansas,150657.0,NaN,10.6,NaN,10.2,NaN,11,NaN,13,NaN,12.1,NaN,13.9,NaN,both,5.7,9
21,45.0,Kentucky,146871.0,NaN,14.9,NaN,14.5,NaN,15.3,NaN,19.4,NaN,18.6,NaN,20.2,NaN,both,6.4,19
22,39.0,Louisiana,166565.0,NaN,17.8,NaN,17.3,NaN,18.3,NaN,24.3,NaN,23.4,NaN,25.2,NaN,both,8.7,41
23,25.0,Maine,242316.0,NaN,10.6,NaN,10.1,NaN,11.1,NaN,12.8,NaN,11.8,NaN,13.8,NaN,both,5,4
24,10.0,Maryland,308041.0,NaN,9,NaN,8.7,NaN,9.3,NaN,11.2,NaN,10.4,NaN,12,NaN,both,6.7,22
25,3.0,Massachusetts,422856.0,NaN,9.4,NaN,9.1,NaN,9.7,NaN,10.9,NaN,10.2,NaN,11.6,NaN,both,9.4,45
26,38.0,Michigan,173277.0,NaN,12.6,NaN,12.3,NaN,12.9,NaN,16.8,NaN,16.2,NaN,17.4,NaN,both,10,48
27,19.0,Minnesota,256857.0,NaN,8.3,NaN,8,NaN,8.6,NaN,9.5,NaN,8.8,NaN,10.2,NaN,both,6.3,17
28,49.0,Mississippi,126502.0,NaN,18.7,NaN,18.2,NaN,19.2,NaN,26,NaN,24.9,NaN,27.1,NaN,both,7.9,33
29,40.0,Missouri,162464.0,NaN,12.1,NaN,11.8,NaN,12.4,NaN,15.5,NaN,14.8,NaN,16.2,NaN,both,6.1,13
30,17.0,Montana,277801.0,NaN,12.4,NaN,11.9,NaN,12.9,NaN,14.6,NaN,13.6,NaN,15.6,NaN,both,5.8,10
31,NaN,National,NaN,NaN,11.9,NaN,11.9,NaN,11.9,NaN,15.7,NaN,15.7,NaN,15.7,NaN,right_only,NaN,NaN
32,37.0,Nebraska,175884.0,NaN,9.2,NaN,8.8,NaN,9.6,NaN,10.1,NaN,9.3,NaN,10.9,NaN,both,4.1,1
33,11.0,Nevada,301753.0,NaN,12.5,NaN,12,NaN,13,NaN,16.7,NaN,15.8,NaN,17.6,NaN,both,13.5,51
34,14.0,New Hampshire,290163.0,NaN,7,NaN,6.5,NaN,7.5,NaN,8.4,NaN,7.4,NaN,9.4,NaN,both,6.7,22
35,8.0,New Jersey,335607.0,NaN,9.4,NaN,9.1,NaN,9.7,NaN,12.6,NaN,11.9,NaN,13.3,NaN,both,9.5,46
36,29.0,New Mexico,203675.0,NaN,16.8,NaN,16.2,NaN,17.4,NaN,21.6,NaN,20.4,NaN,22.8,NaN,both,8.1,35
37,9.0,New York,321934.0,NaN,12.7,NaN,12.5,NaN,12.9,NaN,16.7,NaN,16.1,NaN,17.3,NaN,both,9.9,47
38,31.0,North Carolina,202215.0,NaN,12.9,NaN,12.6,NaN,13.2,NaN,17.9,NaN,17.1,NaN,18.7,NaN,both,7.1,25
39,26.0,North Dakota,235012.0,NaN,10.2,NaN,9.5,NaN,10.9,NaN,10.9,NaN,9.9,NaN,11.9,NaN,both,5.1,5
40,44.0,Ohio,150374.0,NaN,12.6,NaN,12.3,NaN,12.9,NaN,16.6,NaN,15.9,NaN,17.3,NaN,both,8.2,36
41,47.0,Oklahoma,128934.0,NaN,14.3,NaN,13.9,NaN,14.7,NaN,18.6,NaN,17.8,NaN,19.4,NaN,both,6.2,15
42,6.0,Oregon,361970.0,NaN,11,NaN,10.6,NaN,11.4,NaN,12.2,NaN,11.4,NaN,13,NaN,both,7.6,28
43,34.0,Pennsylvania,194603.0,NaN,10.9,NaN,10.7,NaN,11.1,NaN,14.3,NaN,13.7,NaN,14.9,NaN,both,9.1,42
44,13.0,Rhode Island,300808.0,NaN,10.6,NaN,10,NaN,11.2,NaN,14.5,NaN,13.4,NaN,15.6,NaN,both,9.2,43
45,36.0,South Carolina,185749.0,NaN,13.8,NaN,13.4,NaN,14.2,NaN,18.7,NaN,17.9,NaN,19.5,NaN,both,6,12
46,28.0,South Dakota,205567.0,NaN,11.6,NaN,11.1,NaN,12.1,NaN,13.9,NaN,13,NaN,14.8,NaN,both,4.3,2
47,35.0,Tennessee,185922.0,NaN,13.6,NaN,13.2,NaN,14,NaN,18.4,NaN,17.6,NaN,19.2,NaN,both,7.4,27
48,27.0,Texas,207301.0,NaN,13.4,NaN,13.2,NaN,13.6,NaN,18.8,NaN,18.2,NaN,19.4,NaN,both,7.7,30
49,7.0,Utah,348376.0,NaN,7.3,NaN,6.9,NaN,7.7,NaN,7.5,NaN,6.8,NaN,8.2,NaN,both,4.7,3
50,21.0,Vermont,254234.0,NaN,9.4,NaN,8.8,NaN,10,NaN,10,NaN,9,NaN,11,NaN,both,5.6,8
51,16.0,Virginia,285229.0,NaN,9.2,NaN,8.9,NaN,9.5,NaN,12.2,NaN,11.6,NaN,12.8,NaN,both,6.2,15
52,4.0,Washington,409228.0,NaN,9.5,NaN,9.2,NaN,9.8,NaN,11,NaN,10.3,NaN,11.7,NaN,both,8.5,40
53,50.0,West Virginia,108236.0,NaN,15.8,NaN,15.3,NaN,16.3,NaN,20.3,NaN,19.2,NaN,21.4,NaN,both,8.2,36
54,32.0,Wisconsin,202029.0,NaN,10,NaN,9.7,NaN,10.3,NaN,12.4,NaN,11.7,NaN,13.1,NaN,both,6.3,17
55,23.0,Wyoming,250890.0,NaN,9.2,NaN,8.6,NaN,9.8,NaN,10.3,NaN,9.2,NaN,11.4,NaN,both,5.8,10

In [73]:
mergedRight = pd.merge(ex1_2, a, how='right', on=['State Name'])
mergedRight

,State rank,State Name,Price,Unnamed: 1,Rate_x,Unnamed: 3,Unnamed: 4,Unnamed: 5,Children ages 0-17 in poverty (2020),Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,_merge,Rate_y,Rank
0,NaN,State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,Rank
1,NaN,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,right_only,rate,NaN
2,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.1,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,NaN,NaN,90% confidence interval of estimate,NaN,NaN,NaN,right_only,NaN,NaN
4,37.0,Nebraska,175884.0,NaN,9.2,NaN,8.8,NaN,9.6,NaN,10.1,NaN,9.3,NaN,10.9,NaN,both,4.1,1
5,28.0,South Dakota,205567.0,NaN,11.6,NaN,11.1,NaN,12.1,NaN,13.9,NaN,13,NaN,14.8,NaN,both,4.3,2
6,7.0,Utah,348376.0,NaN,7.3,NaN,6.9,NaN,7.7,NaN,7.5,NaN,6.8,NaN,8.2,NaN,both,4.7,3
7,25.0,Maine,242316.0,NaN,10.6,NaN,10.1,NaN,11.1,NaN,12.8,NaN,11.8,NaN,13.8,NaN,both,5,4
8,42.0,Iowa,152885.0,NaN,10.2,NaN,9.8,NaN,10.6,NaN,12,NaN,11.2,NaN,12.8,NaN,both,5.1,5
9,26.0,North Dakota,235012.0,NaN,10.2,NaN,9.5,NaN,10.9,NaN,10.9,NaN,9.9,NaN,11.9,NaN,both,5.1,5
10,15.0,Idaho,285982.0,NaN,10.1,NaN,9.6,NaN,10.6,NaN,11.6,NaN,10.7,NaN,12.5,NaN,both,5.5,7
11,21.0,Vermont,254234.0,NaN,9.4,NaN,8.8,NaN,10,NaN,10,NaN,9,NaN,11,NaN,both,5.6,8
12,43.0,Kansas,150657.0,NaN,10.6,NaN,10.2,NaN,11,NaN,13,NaN,12.1,NaN,13.9,NaN,both,5.7,9
13,17.0,Montana,277801.0,NaN,12.4,NaN,11.9,NaN,12.9,NaN,14.6,NaN,13.6,NaN,15.6,NaN,both,5.8,10
14,23.0,Wyoming,250890.0,NaN,9.2,NaN,8.6,NaN,9.8,NaN,10.3,NaN,9.2,NaN,11.4,NaN,both,5.8,10
15,36.0,South Carolina,185749.0,NaN,13.8,NaN,13.4,NaN,14.2,NaN,18.7,NaN,17.9,NaN,19.5,NaN,both,6,12
16,48.0,Arkansas,128101.0,NaN,15.2,NaN,14.7,NaN,15.7,NaN,20.8,NaN,19.8,NaN,21.8,NaN,both,6.1,13
17,40.0,Missouri,162464.0,NaN,12.1,NaN,11.8,NaN,12.4,NaN,15.5,NaN,14.8,NaN,16.2,NaN,both,6.1,13
18,47.0,Oklahoma,128934.0,NaN,14.3,NaN,13.9,NaN,14.7,NaN,18.6,NaN,17.8,NaN,19.4,NaN,both,6.2,15
19,16.0,Virginia,285229.0,NaN,9.2,NaN,8.9,NaN,9.5,NaN,12.2,NaN,11.6,NaN,12.8,NaN,both,6.2,15
20,19.0,Minnesota,256857.0,NaN,8.3,NaN,8,NaN,8.6,NaN,9.5,NaN,8.8,NaN,10.2,NaN,both,6.3,17
21,32.0,Wisconsin,202029.0,NaN,10,NaN,9.7,NaN,10.3,NaN,12.4,NaN,11.7,NaN,13.1,NaN,both,6.3,17
22,45.0,Kentucky,146871.0,NaN,14.9,NaN,14.5,NaN,15.3,NaN,19.4,NaN,18.6,NaN,20.2,NaN,both,6.4,19
23,46.0,Alabama,138975.0,NaN,14.9,NaN,14.5,NaN,15.3,NaN,20.9,NaN,20,NaN,21.8,NaN,both,6.5,20
24,33.0,Georgia,201294.0,NaN,14,NaN,13.6,NaN,14.4,NaN,19.5,NaN,18.8,NaN,20.2,NaN,both,6.5,20
25,10.0,Maryland,308041.0,NaN,9,NaN,8.7,NaN,9.3,NaN,11.2,NaN,10.4,NaN,12,NaN,both,6.7,22
26,14.0,New Hampshire,290163.0,NaN,7,NaN,6.5,NaN,7.5,NaN,8.4,NaN,7.4,NaN,9.4,NaN,both,6.7,22
27,5.0,Colorado,397820.0,NaN,9,NaN,8.7,NaN,9.3,NaN,10.6,NaN,9.9,NaN,11.3,NaN,both,6.9,24
28,31.0,North Carolina,202215.0,NaN,12.9,NaN,12.6,NaN,13.2,NaN,17.9,NaN,17.1,NaN,18.7,NaN,both,7.1,25
29,41.0,Indiana,155640.0,NaN,11.6,NaN,11.3,NaN,11.9,NaN,14.9,NaN,14.2,NaN,15.6,NaN,both,7.2,26
30,35.0,Tennessee,185922.0,NaN,13.6,NaN,13.2,NaN,14,NaN,18.4,NaN,17.6,NaN,19.2,NaN,both,7.4,27
31,22.0,Delaware,254108.0,NaN,10.9,NaN,10.3,NaN,11.5,NaN,15.1,NaN,14,NaN,16.2,NaN,both,7.6,28
32,6.0,Oregon,361970.0,NaN,11,NaN,10.6,NaN,11.4,NaN,12.2,NaN,11.4,NaN,13,NaN,both,7.6,28
33,18.0,Arizona,268765.0,NaN,12.8,NaN,12.4,NaN,13.2,NaN,17.6,NaN,16.7,NaN,18.5,NaN,both,7.7,30
34,27.0,Texas,207301.0,NaN,13.4,NaN,13.2,NaN,13.6,NaN,18.8,NaN,18.2,NaN,19.4,NaN,both,7.7,30
35,20.0,Connecticut,255555.0,NaN,9.7,NaN,9.3,NaN,10.1,NaN,11.8,NaN,10.9,NaN,12.7,NaN,both,7.8,32
36,49.0,Mississippi,126502.0,NaN,18.7,NaN,18.2,NaN,19.2,NaN,26,NaN,24.9,NaN,27.1,NaN,both,7.9,33
37,—,District of Columbia,626911.0,NaN,15,NaN,14,NaN,16,NaN,22.3,NaN,19.4,NaN,25.2,NaN,both,8,34
38,29.0,New Mexico,203675.0,NaN,16.8,NaN,16.2,NaN,17.4,NaN,21.6,NaN,20.4,NaN,22.8,NaN,both,8.1,35
39,12.0,Alaska,300889.0,NaN,9.6,NaN,9.1,NaN,10.1,NaN,12.3,NaN,11.3,NaN,13.3,NaN,both,8.2,36
40,24.0,Florida,245169.0,NaN,12.4,NaN,12.1,NaN,12.7,NaN,17.2,NaN,16.6,NaN,17.8,NaN,both,8.2,36
41,44.0,Ohio,150374.0,NaN,12.6,NaN,12.3,NaN,12.9,NaN,16.6,NaN,15.9,NaN,17.3,NaN,both,8.2,36
42,50.0,West Virginia,108236.0,NaN,15.8,NaN,15.3,NaN,16.3,NaN,20.3,NaN,19.2,NaN,21.4,NaN,both,8.2,36
43,4.0,Washington,409228.0,NaN,9.5,NaN,9.2,NaN,9.8,NaN,11,NaN,10.3,NaN,11.7,NaN,both,8.5,40
44,39.0,Louisiana,166565.0,NaN,17.8,NaN,17.3,NaN,18.3,NaN,24.3,NaN,23.4,NaN,25.2,NaN,both,8.7,41
45,34.0,Pennsylvania,194603.0,NaN,10.9,NaN,10.7,NaN,11.1,NaN,14.3,NaN,13.7,NaN,14.9,NaN,both,9.1,42
46,30.0,Illinois,202675.0,NaN,11,NaN,10.8,NaN,11.2,NaN,13.9,NaN,13.4,NaN,14.4,NaN,both,9.2,43
47,13.0,Rhode Island,300808.0,NaN,10.6,NaN,10,NaN,11.2,NaN,14.5,NaN,13.4,NaN,15.6,NaN,both,9.2,43
48,3.0,Massachusetts,422856.0,NaN,9.4,NaN,9.1,NaN,9.7,NaN,10.9,NaN,10.2,NaN,11.6,NaN,both,9.4,45
49,8.0,New Jersey,335607.0,NaN,9.4,NaN,9.1,NaN,9.7,NaN,12.6,NaN,11.9,NaN,13.3,NaN,both,9.5,46
50,9.0,New York,321934.0,NaN,12.7,NaN,12.5,NaN,12.9,NaN,16.7,NaN,16.1,NaN,17.3,NaN,both,9.9,47
51,38.0,Michigan,173277.0,NaN,12.6,NaN,12.3,NaN,12.9,NaN,16.8,NaN,16.2,NaN,17.4,NaN,both,10,48
52,2.0,California,554886.0,NaN,11.5,NaN,11.3,NaN,11.7,NaN,14.6,NaN,14.2,NaN,15,NaN,both,10.2,49
53,1.0,Hawaii,636451.0,NaN,8.9,NaN,8.4,NaN,9.4,NaN,10.4,NaN,9.4,NaN,11.4,NaN,both,12,50
54,11.0,Nevada,301753.0,NaN,12.5,NaN,12,NaN,13,NaN,16.7,NaN,15.8,NaN,17.6,NaN,both,13.5,51
55,NaN,Note: Rates shown are a percentage of the labo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN